.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
android/.gradle/
ios/Pods/

# Local IDE settings
.idea/
.vscode/
*.iml

# Local environment and API keys
.env
.env.*
!.env.example

secrets.json
